.wrapper{
    background-color:white;
    width: 675px;
    height: 600px;
    padding:20px;
    padding-top: 3px;
    margin:10px auto;
}

.btn {
    background-color:rgb(40, 41, 52);
    border-radius: 0px; 
    border:none;
    padding: 28px 215px;
    font-size: 25px;
    color: white;

}



h1{
    
    font-family:'Playfair Display', serif;
    font-size: 73px;
    color:rgb(40, 41, 52);
    font-weight:500; /*takes the boldness away*/
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color:rgb(40, 41, 52);
}
p{
    font-family: 'Carme', sans-serif;
    font-size: 27px;
    color:rgb(40, 41, 52);
}
