.wrapper {
    background-color: rgb(245, 245, 245);
    width: 575px;
    height: 450px;
    padding:20px;
    padding-top: 3px;
    margin: 10px auto;

  }

.btn {
    background-color:rgb(255, 119, 49);
    border-radius: 8px;
    border:none;
    color: white;
    padding: 25px 35px;
    font-size: 25px;

}



h3{
    font-family:'archivo',sans-serif;
    color:rgb(110, 110, 110);
    font-size: 18px;
}


h1{
    color: rgb(148, 52, 116);
    font-size: 55px;
    font-family: 'Archivo', sans-serif;
    font-family: 'Noto Serif', serif;
    font-weight: bolder;

}

p{
    color:rgb(110, 110, 110);
    font-size: 25px;

   
}

span{
    color: black;
    font-weight:bolder;
    height: 250px;
}