.wrapper{
        background-color:sandybrown;
        width: 575px;
        height: 450px;
        padding:20px;
        padding-top: 3px;
        margin: 10px auto;
}

.btn {
    background-color:rgb(58, 58, 58);
    border-radius: 0px; 
    border:none;
    color: white;
    padding: 15px 215px;
    font-size: 15px;

}

h1{
    font-size: 70px;
}

